<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="../images/leaf-green.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/f523297bc0.js"
      crossorigin="anonymous"
    ></script>
    <title>Weather-App</title>
  </head>

  <body>
    <!-- HEADER -->
    <nav class="header navbar navbar-light bg-dark">
      Weather App
      <a class="logout" href="/users/deconnexion">Deconnexion</a>
    </nav>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New messages</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="modal-temps"></p>
            <p class="modal-tempMax"></p>
            <p class="modal-tempMin"></p>
            <p class="modal-temp"></p>
            <p class="modal-feelLike"></p>
            <p class="modal-humidity"></p>
            <p class="modal-pressure"></p>
            <p class="modal-wind"></p>
            <p class="modal-lat"></p>
            <p class="modal-long"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- GRID -->
    <div class="container">
      <div class="row mb-3">
        <form
          action="/addCity"
          method="POST"
          class="d-flex offset-lg-3 col-xs-12 col-lg-6"
        >
          <input
            name="newCity"
            type="text"
            class="form-control m-1"
            placeholder="Enter city"
            required
          />
          <button type="submit" class="btn btn-warning btn-sm m-1">Add</button>
        </form>
      </div>
      <div class="row">
        <div id="worldmap" class="col-xs-12 col-lg-5"></div>
        <div class="col-xs-12 col-lg-6">
          <p class="text-center pb-2">
            <a href="/update">update <i class="fas fa-sync-alt"></i></a>
          </p>
          <ul class="list-group tab">
            <% if(cityList.length<1 ){%>
            <p>Add a city !!</p>
            <%}if (error == true){%>
            <p><%=message%></p>
            <%} if(cityList.length > 0){%> <% for(var i = 0; i< cityList.length;
            i++){ %>

            <li
              class="list-group-item ville d-flex bg-info"
              data-lon="<%= cityList[i].long%>"
              data-lat="<%= cityList[i].lat%>"
              data-name="<%= cityList[i].name%>"
            >
              <div class="flex-grow-1 d-flex align-items-center">
                <p class="nameCity align"><%=cityList[i].name%></p>
              </div>

              <div class="picto d-flex align-items-center">
                <img
                  class="img"
                  src="<%='./images/'+cityList[i].picto +'.png'%>"
                  alt="picto"
                />
              </div>
              <div class="temp d-flex align-items-center">
                <span class="badge badge-warning"
                  ><%=cityList[i].tempMax %> °C</span
                >
                <span class="badge badge-primary m-2"
                  ><%=cityList[i].tempMin %> °C</span
                >
                <a
                  href=""
                  class="badge badge-light align-items-center"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  data-name="<%=cityList[i].name%>"
                  data-temps="<%=cityList[i].temps %>"
                  data-tempmax="<%=cityList[i].tempMax %>"
                  data-tempmin="<%=cityList[i].tempMin %>"
                  data-pressure="<%=cityList[i].pressure %>"
                  data-humidity="<%=cityList[i].humidity %>"
                  data-feelslike="<%=cityList[i].feels_like %>"
                  data-wind="<%=cityList[i].wind %>"
                  data-long="<%=cityList[i].long %>"
                  data-lat="<%=cityList[i].lat %>"
                  data-temp="<%=cityList[i].temp %>"
                >
                  <i class="fas fa-info"></i>
                </a>
              </div>
              <div class="supp m-2">
                <a href="/delete?id=<%=cityList[i]._id%>"
                  ><i class="fas fa-times-circle croix"></i
                ></a>
              </div>
            </li>

            <%}%> <%}%>
          </ul>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="../javascripts/script.js"></script>
  </body>
</html>
